<div class="w-full h-full flex justify-center items-center bg-zinc-200">
  <main class="bg-white w-96 border border-zinc-300 rounded-md px-4 py-3">
    <h1 class="text-xl mb-3 font-bold">Registrar</h1>

    <form [formGroup]="form" (ngSubmit)="submitForm()" class="flex flex-col">
      <app-input type="text" placeholder="Digite seu nome" formControlName="name" ngClass="mb-2" />
      <div *ngIf="name?.invalid && (submitted || name?.touched)" class="mb-4">
        <app-input-error *ngIf="name?.errors?.required">Nome obrigatório
        </app-input-error>
      </div>

      <app-input type="text" placeholder="Digite seu CPF" formControlName="cpf" ngClass="mb-2" />
      <div *ngIf="cpf?.invalid && (submitted || cpf?.touched)" class="mb-4">
        <app-input-error *ngIf="cpf?.errors?.required">CPF obrigatório
        </app-input-error>
        <app-input-error *ngIf="cpf?.errors?.cpf ||  cpf?.errors?.pattern">O CPF deve ser em formato
          XXX.XXX.XXX-XX
        </app-input-error>
      </div>

      <app-input type="email" placeholder="Digite seu e-mail" formControlName="email" ngClass="mb-2" />
      <div *ngIf="email?.invalid && (submitted || email?.touched)" class="mb-4">
        <app-input-error *ngIf="email?.errors?.required || email?.errors?.email">Email inválido
        </app-input-error>
      </div>

      <app-input type="password" placeholder="Digite sua senha" formControlName="password" ngClass="mb-2" />
      <div *ngIf="password?.invalid && (submitted || password?.touched)" class="mb-4">
        <app-input-error *ngIf="password?.errors?.required">Senha obrigatória
        </app-input-error>
      </div>

      <a routerLink="/auth/login" class="text-sm mb-2">Já tem uma conta? <span
        class="text-blue-600 text-sm font-medium">Login</span></a>
      <app-button type="submit">Cadastrar</app-button>
    </form>
  </main>
</div>
