<app-header></app-header>

<div class="container mx-auto mt-8">
  <div class="p-8 bg-white rounded-md">
    <div class="flex justify-between mb-5">
      <h1 class="text-2xl font-semibold mb-0.5">Listagem de usuários</h1>

      <app-button variant="primary">
        <mat-icon>add</mat-icon>
        <span>
          Criar usuário
        </span>
      </app-button>
    </div>

    <div *ngFor="let user of usersList" class="flex flex-col">
      <app-user [user]="user"></app-user>
    </div>

  </div>
</div>
