@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mdc-dialog-container-shape: 10px;
  --mdc-dialog-container-color: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(228, 228, 231);
}
