@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(228, 228, 231);
}
